table {
    border-collapse: collapse;
    width: 100%;
    direction: rtl;
}

th {
    background-color: #007bff;
    color: #fff;
}

td, th {
    border: 1px solid #fff;
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
